<div class="eaSimpleSelectionTable-wUserDetails">

    <div class="eaSimpleSelectionTable-wUserDetails-item">
        <span class="eaSimpleSelectionTable-wUserDetails-label">{{firstName}}:</span>
        <span class="eaSimpleSelectionTable-wUserDetails-value">{{user.firstName}}</span>
    </div>

    <div class="eaSimpleSelectionTable-wUserDetails-item">
        <span class="eaSimpleSelectionTable-wUserDetails-label">{{lastName}}:</span>
        <span class="eaSimpleSelectionTable-wUserDetails-value">{{user.lastName}}</span>
    </div>

    <div class="eaSimpleSelectionTable-wUserDetails-item">
        <span class="eaSimpleSelectionTable-wUserDetails-label">{{role}}:</span>
        <span class="eaSimpleSelectionTable-wUserDetails-value">{{user.role}}</span>
    </div>
</div>
